<link href="/css/home.css" rel="stylesheet" type="text/css" />
<div class="content">
  <button class="loginBtn loginBtn--facebook" >
    <a style="text-decoration: none; color: #fff;" href="<%=facebookUrl %>">Login with Facebook</a>
  </button>
  <button class="loginBtn loginBtn--google">
    <a style="text-decoration: none; color: #fff;" href="<%= googleUrl %>"> Login with Google </a>
  </button>
</div>
